.wrap {
  .outer {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .heading {
      font-size: 25px;
      min-height: 80px;
      margin: 0;
      margin-top: 10px;
    }
    .icon {
      max-width: 300px;
      height: auto;
    }
    .tagline {
      min-height: 80px;
      margin: 0px;
    }
    .btn {
      max-width: 150px;
      width: 100%;
      min-height: 50px;
      cursor: pointer;
      background: linear-gradient(93.47deg, #e8b34c -9.05%, #e27946 118.3%);
      outline: none;
      border: none;
      font-size: 18px;
      color: black;
      font-weight: 600;
    }
  }
}
