.wrap {
  .outer {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .heading {
      font-size: 25px;
      min-height: 80px;
      margin: 0;
      margin-top: 10px;
      color: white;
      text-decoration: none !important;
    }
    .icon {
      max-width: 300px;
      height: auto;
    }
    .tagline {
      min-height: 80px;
      margin: 0px;
      color: white;
      text-decoration: none !important;
    }
    .btnblock {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .btn {
        max-width: 150px;
        width: 100%;
        min-height: 50px;
        cursor: pointer;
        background: linear-gradient(93.47deg, #e8b34c -9.05%, #e27946 118.3%);
        outline: none;
        border: none;
        font-size: 18px;
        color: black;
        font-weight: 600;
      }
      .btns {
        display: flex;
        gap: 20px;
        .btnbtn {
          background: linear-gradient(93.47deg, #f2a60f -9.05%, #e27946 118.3%);
          width: 50px;
          height: 50px;
          outline: none;
          border: none;
          font-size: 18px;
          color: black;
          font-weight: 600;
          cursor: pointer;
        }
      }
    }
  }
}
