.wrap {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  .search {
    display: flex;
    align-items: center;
    border: 1px solid;
    padding: 5px 10px;
    border-radius: 25px;
    width: 200px;
    height: 30px;
    input {
      padding: 5px;
      border: none;
      background: transparent;
      &:focus-visible {
        border: none;
        outline: none;
      }
    }
  }
  .cartblock {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    .cart {
      margin: 0px;
      font-size: 16px;
      font-weight: 600;
    }
  }
}
:global {
  .modal-dialog {
    // height: 300px;

    // max-width: 1200px;
    margin: auto;
    padding: 10px;
  }
}
